
.table {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--bg-modal);
  padding-left: 16px;
  padding-right: 16px;
}

.color {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.name {
  flex: 1;
}

.total {
  flex-direction: column;
  gap: 16px;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
  font-size: 14px;
}

.expenses {
  color: var(--expense-color);
}

.income {
  color: var(--income-color);
}

.message {
  text-align: center;
  color: var(--main-color);
}

.totalRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleTab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  box-shadow: var(--modal-shadow);
  background-color: var(--bg-transaction);
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 14px;
}

.tableWrapper{
  width: 100%;
}

@media screen and (min-width: 768px) {
}
