.dashboardSection {
  background: var(--bg-dashboard);
}

.dashboard {
  padding: 0;
  background-image: url("../../assets/img/ellipse_19.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: 454px auto;
}

.mobileDashboard {
  max-width: 320px;
  margin: 0 auto;
  height: auto;
}

@media screen and (min-width: 768px) {
  .dashboard {
    background-image: url("../../assets/img/home_tab.png");
    background-size: cover;
    padding: 0 32px;
    display: grid;
    grid-template-rows: 234px 1fr;
    gap: 20px 0px;
    height: 100vh;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 32px;
  }
  .nav {
    width: 336px;
    height: 134px;
    grid-column: 1;
    grid-row: 1;
  }
  .balance {
    width: 336px;
    grid-column: 1;
    grid-row: 2;
    transform: translateY(21px);
  }
  .currency {
    width: 336px;
    overflow: hidden;
    grid-row: span 2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .navBalance {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    width: 480px;
  }

  .balance {
    width: 480px;
  }

  .currency {
    width: 480px;
    grid-row: 3;
  }

  .content {
    grid-row: span 3;
    grid-column: span 1;
  }
  .dashboard {
    padding: 0;
    gap: 0 62px;
    grid-template-columns: 480px 715px;
    grid-template-areas:
      "nav content"
      "balance "
      "currency ";
  }
}
