.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.registerLogo {
  margin-bottom: 40px;
}

.registerContainer {
  border-radius: 8px;
  background-image: url("../../assets/img/ellipse_19.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-modal);
}

.boxLabel {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.label {
  width: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputContainerLogo {
  width: 280px;
  max-height: 50px;
  position: relative;
}

.icon {
  position: absolute;
  top: 40%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--form-color);
  pointer-events: none;
}
/* 
Прибирає біле поле при автозаповненні та чорні букви при переході на наступне поле */
.regInput:-webkit-autofill,
.regInput:-webkit-autofill:hover,
.regInput:-webkit-autofill:focus,
.regInput:-webkit-autofill:active {
  transition: background-color 9999s var(--second-transform) 0s;
  -webkit-text-fill-color: var(--main-color) !important;
  background-color: transparent !important;
  caret-color: var(--form-color);
  border-bottom: 1px solid var(--form-color);
}

.regInput {
  padding: 0 8px 0 56px;
  font-weight: 400;
  font-size: 18px;
  width: 280px;
  height: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--form-color);
  color: var(--main-color);
  transition: border-bottom 0.3s var(--main-transform);
}

.regInput::placeholder {
  color: var(--form-color);
  font-weight: 400;
  font-size: 18px;
}

.regInput:hover,
.regInput:focus {
  border-bottom: 1px solid var(--income-color);
}

.togglePassButton {
  position: absolute;
  background: none;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}

.togglePassButton svg {
  color: var(--form-color);
}

.errorWrapper {
  width: 100%;
  height: 10px;
}

.error {
  color: var(--income-color);
  font-size: 9px;
  margin-top: 2px;
  position: relative;
}

.button {
  width: 280px;
  height: 50px;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-color);
  transition: transform 0.3s var(--main-transform);
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

.link {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 20px;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: var(--btn-shadow);
  color: var(--dark-color);
  border: 1px solid #4a56e2;
  background: var(--main-color);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  transition: transform 0.3s var(--main-transform);
  cursor: pointer;
}

.link:hover,
.link:focus {
  transform: scale(1.1);
}

.passwordStrengthWrapper {
  margin-top: 8px;
  margin-bottom: 40px;
}

.bar {
  width: 280px;
  height: 4px;
  background-color: var(--form-color);
  border-radius: 2px;
}

.bar div {
  transition: all 0.2s var(--main-transform);
  height: 100%;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .form {
    width: 533px;
    padding: 40px 62px;
  }

  .button {
    width: 300px;
    height: 50px;
  }

  .label {
    width: 100%;
    margin: 0 auto;
  }

  .inputContainerLogo {
    width: 409px;
  }
  .regInput {
    width: 409px;
  }

  .link {
    width: 300px;
  }

  .bar {
    width: 409px;
  }
  .registerContainer {
    display: block;
    width: 533px;
    height: 624px;
    background-image: url("../../assets/img/ellipse_19.png"),
      url("../../assets/img/reg_form_t.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 557px 626px, 800px 900px;
    background-position: center;
    backdrop-filter: blur(100px);
    box-shadow: var(--modal-shadow);
  }

  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .registerContainer {
      background-image: url("../../assets/img/ellipse_19@2x.png"),
        url("../../assets/img/reg_form_t.png");
    }
  }
}
