.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

.loginLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  text-align: center;
  margin-bottom: 52px;
}

.loginContainer {
  border-radius: 8px;
  background-color: var(--bg-modal);
  background-image: url("../../assets/img/ellipse_19.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .loginContainer {
    background-color: var(--bg-modal);
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background-image: url("../../assets/img/ellipse_19@2x.png");
  }
}

.loginBoxLabel {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.label {
  width: 280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputContainerLogo {
  width: 280px;
  max-height: 50px;
  position: relative;
}

.icon {
  position: absolute;
  top: 40%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--form-color);
  pointer-events: none;
}
/* 
Прибирає біле поле при автозаповненні та чорні букви при переході на наступне поле */
.regInput:-webkit-autofill,
.regInput:-webkit-autofill:hover,
.regInput:-webkit-autofill:focus,
.regInput:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: var(--main-color) !important;
  background-color: transparent !important;
  caret-color: var(--form-color);
  border-bottom: 1px solid #ccc;
}

.regInput {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  width: 280px;
  height: 100%;
  border: none;
  color: var(--main-color);
  background-color: transparent;
  border-bottom: 1px solid var(--form-color);
  transition: border-bottom 0.3s ease;
  padding-left: 56px;
}

.regInput::placeholder {
  color: var(--form-color);
  font-weight: 400;
  font-size: 18px;
}

.regInput:hover,
.regInput:focus {
  border-bottom: 1px solid #ffb627;
}

.togglePassButton {
  position: absolute;
  background: none;
  cursor: pointer;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  border: none;
}

.togglePassButton svg {
  color: var(--form-color);
}

.errorWrapper {
  width: 100%;
  height: 10px;
}

.error {
  color: #ffb627;
  font-size: 9px;
  margin-top: 2px;
  position: fixed;
  position: relative;
}

.button {
  width: 280px;
  height: 50px;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  border: none;
  transition: transform 0.3s ease;
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

.link {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 20px;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: var(--btn-shadow);
  color: #623f8b;
  border: 1px solid #4a56e2;
  background: #fbfbfb;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  transition: all 0.3s ease;
  cursor: pointer;
}

.link:hover,
.link:focus {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .loginForm {
    width: 533px;
    height: 570px;
    padding: 80px 62px;
  }

  .button {
    width: 300px;
    height: 50px;
  }

  .label {
    width: 100%;
    margin: 0 auto;
  }

  .inputContainerLogo {
    width: 409px;
  }
  .regInput {
    width: 409px;
  }

  .link {
    width: 300px;
  }

  .loginContainer {
    background-image: url("../../assets/img/log_form_t.png"),
      url("../../assets/img/ellipse_19.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 800px 700px;
    background-position: center;
    overflow: hidden;
  }

  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .loginContainer {
      background-image: url("../../assets/img/log_form_t@2x.png"),
        url("../../assets/img/ellipse_19@2x.png");
    }
  }
}
