.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../../assets/img/mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  min-height: 100vh;
}

@media screen and (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .login {
    background-image: url("../../assets/img/mobile@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .login {
    background-image: url("../../assets/img/login_t.png");
  }
  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .login {
      background-image: url("../../assets/img/login_t@2x.png");
    }
  }
}

@media screen and (min-width: 1280px) {
  .login {
    background-image: url("../../assets/img/login_pc.png");
  }
  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .login {
      background-image: url("../../assets/img/login_pc@2x.png");
    }
  }
}
