.wrapper {
  width: 100%;
  height: auto;
  background: transparent;
}

.table {
 width: 320px;
 height: 50px;
 margin-bottom: 12px;
}

.tbody,
.thead {
  text-align: center;
}

.thead {
  background-color: var(--bg-currency);
  margin-bottom: 8px;
}

.tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px 
}

.th {
  padding: 16px 4px;
}

.td{
  padding-top: 12px;
}