.wrapper {
  width: 100%;
  height: auto;
  background: transparent;
  display: block;
}

.table {
  width: 320px;
  height: 50px;
  margin-bottom: 12px;
}

.thead {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.thead {
  background-color: var(--bg-currency);
  margin-bottom: 8px;
}

.tr {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.th {
  padding: 16px 4px;
}

.td {
  padding-top: 12px;
}

@media screen and (min-width: 768px) {
  .wrapper,
  .table {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper,
  .table {
    width: 480px;
  }
}
