.modalBox {
  width: 320px;
  background: #6b5794;
  background-image: url("../../assets/img/ellipse_19.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .modalBox {
    width: 540px;
    height: auto;
  }
}

.title {
  font-weight: 400;
  font-size: 30px;
  text-align: center;

}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  visibility: visible;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .closeIcon {
    visibility: hidden;
  }
}