.modalBox {
  width: 320px;
  background: var(--bg-modal);
  background-image: url("../../assets/img/ellipse_19.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 40px;
}

@media screen and (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .modalBox {
    background-image: url("../../assets/img/ellipse_19@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .modalBox {
    width: 540px;
    height: auto;
  }
}

.title {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.closeIcon {
  margin-left: auto;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 24px;
  }

}
