.containerBalance {
  width: 280px;
  height: 80px;
  background: var(--bg-balance);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 0 32px;
  margin: 0% auto;
  border-radius: 8px;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
}

.textBalance {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--icon-hover);
  margin-bottom: 12px;
}

.totalBalance {
  font-weight: 400;
  font-size: 30px;
}

.totalNumber {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .containerBalance {
    width: 336px;
    padding: 0 20px 0 40px;
  }
}

@media screen and (min-width: 1280px) {
  .containerBalance {
    width: 100%;
    margin-bottom: 32px;
    border-radius: 0;
  }
}
