.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.selectStatistic {
  appearance: none;
  outline: none;
  width: 100%;
  height: 50px;
  border: 1px solid var(--form-color);
  border-radius: 8px;
  background: var(--bg-chart2);
  color: var(--main-color);
  padding: 14px 20px 12px;
}
.label {
  position: relative;
}
.selectIcon {
  position: absolute;
  color: var(--form-color);
  top: 12px;
  right: 13px;
  pointer-events: none;
}

.selectStatistic option {
  outline: none;
  background-color: var(--bg-option);
  border-radius: 8px;
  box-shadow: var(--modal-shadow);
  font-weight: 400;
  font-size: 16px;
  color: var(--main-color);
  border: none;
  appearance: none;
}

.selectStatistic:focus + .selectIcon {
  transform: rotateX(180deg);
}

.selectStatistic option:checked,
.selectStatistic:focus option:checked,
.selectStatistic:focus-visible option:checked {
  background: var(--bg-modal);
  color: var(--expense-color);
}

@media screen and (min-width: 768px) {
  .dashboard {
    flex-direction: row;
    gap: 16px;
  }
  .selectStatistic {
    width: 160px;
  }
}
